<?xml version="1.0"?>
<zend-config xmlns:zf="http://framework.zend.com/xml/zend-config-xml/1.0/">
  <tablesToCopy>
    <table>classes</table>
    <table>documents</table>
    <table>documents_email</table>
    <table>documents_page</table>
    <table>documents_snippet</table>
    <table>redirects</table>
    <table>staticroutes</table>
    <table>users_permission_definitions</table>
  </tablesToCopy>
  <filePath>/var/deployment/migration/</filePath>
  <dumpFileName>migration.zip</dumpFileName>
  <admin>
    <username>admin</username>
    <password>P!mcore</password>
    <email>dummy@youwe.nl</email>
  </admin>
  <admin2>
    <username>youwe</username>
    <password>P!mcor@2014</password>
    <email>y.kunduz@youwe.nl</email>
  </admin2>
</zend-config>
