.idea
/tools/scripts/log/*.log
/nbproject/
htdocs/website/var/assets/
htdocs/website/var/cache/
htdocs/website/var/recyclebin/
htdocs/website/var/log/
htdocs/website/var/user-image/
htdocs/website/var/backup/
htdocs/website/var/uploads/
htdocs/website/var/versions/*
htdocs/website/var/email/*
htdocs/website/var/system/*
htdocs/website/var/tmp/*
htdocs/sampleData/import/tn/products/*
htdocs/sampleData/import/mg/products/*
htdocs/sampleData/export/products/*
htdocs/sampleData/export/categories/*
htdocs/sampleData/export/attributes/*
htdocs/sampleData/export/media/*
tools/scripts/log/*
!htdocs/website/var/recyclebin/.gitkeep
tools/chef/.chef/*
htdocs/website/var/config/system.xml
.DS_Store
vendor/
composer.phar
/tools/scripts/*.sql
